<div id="hello">
  <div class="text-center">
    <b-button variant="primary">
      Notifications
      <b-badge variant="light">4</b-badge>
    </b-button>
    <div class="text-center">
      <b-button variant="primary">
        Notifications
        <b-badge variant="light">4</b-badge>
      </b-button>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'home' %>
